.key__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     width: 770px;
    margin: 10px;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    background-color: $color-keyboard;
    border-radius: 5px;
    border: solid 3px $color-buttonText;
}
.row-key__container{
    display: flex;    
    gap: 10px;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-grow: 1;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: $color-button;
    color: $color-buttonText;
    cursor: pointer;
    
}
.button-press{
    background-color: $color-button_press;
}

.action-button{
    width: 80px;
    flex-grow: 2;
}

.row4-button{
    width: 40px;
}
#space-button{
   flex-grow: 50;
}
#shift-left{
    flex-grow: 3;
}
